body {
    margin: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

label {
    width: 100px;
    height: 50px;
    position: relative;
    display: block;
    background: #ebebeb;
    border-radius: 31px;
    box-shadow: inset 0px 5px 15px rgba(0, 0, 0, 0.4), inset 0px -5px 15px rgba(255, 255, 255, 0.5);
    cursor: pointer;
    transition: 0.3s;
}
label:after{
    content: "";
    width: 50px;
    height: 50px;
    position: absolute;
    top: 1px;
    left: 1px;
    background: linear-gradient(180deg, #ffcc89, #d8860b);
    border-radius: 180px;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.2);
    transition: 0.3s;
}
input{
    width: 0;
    height: 0;
    visibility: hidden;
}
input:checked + label {
    background: #242424;
}
input:checked + label:after{
    left: 48px;
    background: linear-gradient(180deg, #777, #3a3a3a); 
}